/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body{
  background-image: url(assets/collision.jpg);
}
.player{
  stroke: white;
  stroke-width:3px;
  fill: red;
}
.enemy{
  stroke: black;
  stroke-width:3px;
  fill: white;
}
.canvas{
  border: 1px solid black;
  display:block;
  margin: 0 auto;
  background-color:rgba(255, 255, 255, 0.2);
}
div.scoreboard{
  font-family:helvetica;
  font-size:30px;
  color:white;
}
